header{
    background-color: $preto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a{
    padding: 1em;
    text-decoration: none;
}

img{
    width: 6em;
    height: 5em;
}